<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- https://www.bootstrapcdn.com/ -->
    <title>Vue3 examples</title>
</head>

<body>
    <h1>Vue3 examples</h1>
    <div id="app">
        <p>String: {{name}}</p>
        <h2>Objects</h2>
        <p>Object full: {{book}}</p>
        <p>Object, properties: Title {{book.title}}, Price {{book.price}}</p>
        <ul>
            <li v-for="(value, name) in book">
                {{ name }}: {{ value }}
            </li>
        </ul>

        <h2>Arrays</h2>
        <p>{{weekdays}}</p>
        <ol>
            <li v-for="day in weekdays">{{day}}</li>
        </ol>
        <ul>
            <li v-for="(weekday, index) in weekdays">
                {{weekday}} is day {{index+1}}
            </li>
        </ul>
        <table class="table table-bordered table-striped">
            <tr v-for="day in weekdays">
                <td>{{day}}</td>
            </tr>
        </table>
        <p>{{cars}}</p>
        <ul>
            <li v-for="car in cars">{{car.make}} {{car.model}}</li>
        </ul>
        <table class="table table-striped">
            <tr>
                <th>Make</th>
                <th>Model</th>
            </tr>
            <tr v-for="car in cars">
                <td>{{car.make}}</td>
                <td>{{car.model}}</td>
            </tr>
        </table>

        <h3>Event handling</h3>
        <span v-on:mouseover="updateCounter()">{{counter}}</span>&nbsp;
        <span v-on:mouseover="updateCounter()" class="bg-warning">
            Update hot spot
        </span>

        <h3>Input handling</h3>
        <p>
            <input type="text" v-model.lazy="inputMessage" placeholder="Something to reverse">
            <button v-on:click="reverse()">Reverse</button>
            {{outputMessage}}
            <div>Proper function {{ reverseProperFunction(inputMessage) }}</div>
        </p>

        <p>
            <input type="number" v-model.number="myNumber" placeholder="Number">
            <button v-on:click="next(myNumber)">Next number</button>
            <span>{{ next(myNumber) }}</span>
        </p>

        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
        <p v-if="checked">
            <!-- conditional rendering -->
            <input v-model.lazy="anotherMessage" placeholder="Write a message">
            Message is: {{ anotherMessage }}
        </p>
        <p v-else>Du har ikke checket den</p>
    </div>
    <script src="index.js"></script>
</body>

</html>